body{
    background-color: #625F63;
    color:white;
}
.apresentacao{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: underline;
}

.exp{
    font-size: 20px;
}
#fotominha{
    border-radius: 50%;
    float:left;
    padding: 10px;
    background-color: green;
}
#nome{
    text-align: center;
}
#habilidades{
    text-align: center;
}
#lista{
    list-style: none;
    text-align: center;
}
ul#lista li:nth-child(3){
    color: blue;
}
ul#lista li:nth-child(1){
    color: blue;
}
ul#lista li:nth-child(5){
    color: blue;
}